
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	/*menu item*/
	.logo {
    width: 85%;
	}
	.menu ul li a{
	padding: 0 !important;
	font-size: 18px;
	text-align: right;
	}
	/*slider start*/
	.slider {
    padding-bottom: 40px;
	}
	.cid {
    bottom: -65px;
	}
	.s_text {
    	margin-top: 0;
	}
	.s_text h1 {
    margin-bottom: 10px;
    font-size: 24px;
	}
	.s_text h3 {
    margin-bottom: 10px;
    word-spacing: 0px;
	}
	.s_text p {
    margin-bottom: 18px;
    word-spacing: 1px;
	}
	.s_icon li i {
    font-size: 35px;
    margin-right: 20px;
    margin-bottom: 0px;
	}
	.cid {
    bottom: -46px;
	}
	.cid li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
	}
	/*features start*/
	.f_two{
	text-align: center;
	}
	.c_padding {
    padding-top: 40px;
    padding-bottom: 40px;
	}
	/*row 1*/
	.f_one_h1 {
    margin-bottom: 10px;
    font-size: 24px;
	}
	.f_one_p {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    word-spacing: 1px;
	}
	/*row 2*/
	.f_two {
    margin-top: 20px;
	}
	.f_two_text h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
	}
	/*features end*/
	/*contact start*/
	.contact_two_form{
		margin: 30px 0;
	}
	.con_two_mail {
    margin: 0;
    margin-bottom: 5px
	}
	.con_two_but {
    margin: 0;
	}
	.social_three_icon a i {
    margin: 15px 10px;
    font-size: 30px;
    color: #fcdb00;
    transition: .6s;
	}
	/*contact end*/
	/*footer start*/
	footer{
		text-align: center;
		padding-bottom: 60px;
	}
	.footer_menu{
		margin-top: 20px;
	}
	/*footer end*/
	
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.menu ul li a{
	/*menu item*/
	padding: 0 !important;
	text-align: right;
	}
	/*slider start*/
	.slider {
    padding-bottom: 80px;
	}
	.cid {
    bottom: -65px;
	}
	.cid li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
	}
	.s_text {
    	margin-top: 0;
	}
	/*features start*/
	.f_two{
		text-align: center;
	}
	.c_padding {
    padding-top: 60px;
    padding-bottom: 60px;
	}
	/*row 1*/
	.f_one_h1 {
    margin-bottom: 10px;
    font-size: 26px;
	}
	.f_one_p {
    line-height: 26px;
	}
	/*row 2*/
	.f_two {
    margin-top: 30px;
	}
	.f_two_text h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
	}
	.f_two_text p {
    line-height: 20px;
	}
	/*features end*/
	/*footer start*/
	footer{
		padding-bottom: 80px;
		text-align: center;
	}
	.footer_menu{
		margin-top: 20px;
	}
	/*footer end*/
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*menu item*/ 
	.menu ul li a{
	padding: 0 !important;
	text-align: right;
	}
	/*slider start*/
	.s_text {
    	margin-top: 44px;
	}

	/*features start*/
	.c_padding {
    padding-top: 80px;
    padding-bottom: 100px;
	}
	/*row 1*/

	/*row 2*/
	.f_two {
    margin-top: 40px;
	}
	/*features end*/
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	/*features start*/
	.c_padding {
    padding-top: 90px;
    padding-bottom: 120px;
	}
	/*row 1*/

	/*row 2*/
	.f_two {
    margin-top: 60px;
	}
	.f_two_text p {
    letter-spacing: 0;
	}
	/*features end*/
}
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
	/*features start*/

	/*row 1*/

	/*row 2*/

	/*features end*/
}

/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 
	/*features start*/
	/*row 1*/
	
	/*row 2*/
	.f_two_text p {
    letter-spacing: 2px;
    word-spacing: 1px;
    line-height: 22px;
	}
	/*features end*/
}



/*features start*/
	/*row 1*/
	/*row 2*/
/*features end*/